# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY

/hippiestation/code/datums/antagonists/* @MoreRobustThanYou
/hippiestation/code/game/gamemodes/vampire/* @MoreRobustThanYou
/hippiestation/code/game/gamemodes/shadowling/* @MoreRobustThanYou
/hippiestation/code/modules/mob/living/grab.dm @MoreRobustThanYou
/hippiestation/code/game/machinery/doors/airlock.dm @MoreRobustThanYou
/hippiestation/code/modules/mob/living/simple_animal/gremlin/* @MoreRobustThanYou
